// Specific CSS for your home-page
.auth-button{
  text-decoration: none;
  background-color:  rgb(160, 178, 166);
  color: rgb(233, 233, 233) ;
  width: 250px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 16px 8px 16px 8px;
  border-radius: 50px;
  text-align: center;
  transition: background-color 0.5s ease;
  transform: color 0.5s ease;


}
.auth-button:hover{
  background-color: rgb(97, 152, 142);
  color: white;
}
.auth-buttons{
  align-self: center;
  align-items: center;
}

.auth-container{
  padding: 10 20 10 20px;
}

.banner{
  width: 100vw;
  height: 100vh;
  align-items: center;
  text-align: center;
  position: relative;

}
.banner-container{
  position: absolute;

  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}
.wetrade-banner{

}


#banner_video{
  position:absolute;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  top:0;
  z-index: -1;
}
.nodec{
  text-decoration: none;
  color:aqua;
}
.newsWidget
.news{
  align-content:center;
  align-items: center;
  text-align: center;
  background-color: white;
  position: relative;
}
.byebanner{
  position:absolute;
  height: 3rem;
  width: 100%;
  top: 0px;
  z-index: 2147483647;
  background-color: rgb(216, 214, 214);;
}

.center-h1 {
  text-align: center;
}
