.loglink{
  text-decoration: none;
  color:   rgb(73, 56, 67)  ;
  margin: 10px 0px 10px 10px;

}
.log{
  padding: 32px;
  border-radius: 3px ;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px;

}


.form-actions {


  input {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px;
    border: 0;
    background-color: #ffa544;
    color: black !important;
    padding: 5px;
  }
}

.form-box{
  background-color: white;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px;
}
