.loglink{
  text-decoration: none;
  color:   rgb(73, 56, 67)  ;
  margin: 10px 0px 10px 10px;

}
.log{
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 32px;
  border-radius: 10px ;
  background-color: rgb(160, 178, 166);
  border: solid 2px rgb(73, 56, 67)
}
