<% if !user_signed_in?  %>
    <video id="banner_video" autoplay loop plays-inline muted src="assets/home.mov" type="video/mp4"> </video>
  <div class="banner">
    <div class="banner-container">
      <div class="wetrade-banner">
        <h1 style="font-size: 65px;">WeTrade</h1>
        <p>Research & Hype</p>
      </div>

      <div class="auth-buttons d-flex flex-column">
        <div class="auth-container d-flex">
          <a class="auth-button" href= "<%= new_user_session_path %>"> sign in </a>
        </div>
        <div class="auth-container d-flex">
          <a class="auth-button" href= "<%= new_user_registration_path %>">register </a>
        </div>
      </div>
    </div>
  </div>

<% else %>
<%end  %>

  <%= video_tag "home.mov" %>
