<div class="container pt-3">


<div class="container col-lg-8 p-0 pt-5">
  <h1 class="mt-4 mb-3" style="color: #625F5A;">Create Your Squad</h1>
</div>


<div class="container col-lg-8 p-0 pt-3">
  <div id="block-top-colored" style="margin: 0px;"></div>
  </div>

<div class="container col-lg-8 pt-3 pb-3 form-box">
  <%= simple_form_for(@squad) do |f| %>

    <div class="form-inputs">
      <%= f.input :title,
                  required: true,
                  autofocus: true
                  %>
      <%= f.input :description,
                  as: :text, :input_html => { :cols => 5, :rows => 10 },
                  required: true
                  %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Create Squad" %>
    </div>

  <% end  %>
</div>
