<div class="container my-5 log col-lg-6">

  <%= simple_form_for(@post) do |f| %>
    <div class="form-inputs">
    <%= f.input :content_trix, as: :rich_text_area %>
    </div>

    <div class="form-actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
