.bcg-secondary {
  background-color: #ffa544;
  color: black !important;
  transition: color 0.3s ease;

  a {
    color: black;
  }
}

.bcg-secondary:hover {
  background-color: $main;
  transition: color 0.3s ease;

}

.bcg-main {
  background-color: $main;
  color: white !important;

  a {
  color: white;
  }
}

.no-decoration {
  text-decoration: none;
}
