.crypto-logo {
  width: 50px;
  height: 100%;
}

.cryptos-filters {
  text-decoration: none;
  a {
    text-decoration: none;
    color: black;
    margin: 0.5%;
    padding: 0.5%;
    border-radius: 7px;
  }
}
