.crypto-logo-show {
  width: 100px;
  height: 100%;
}

.crypto-show {
  h1 {
  }

  h2 {
    color: grey;
  }
}

.rating-diamond {
  width: 50px;
  height: 50px;
}
.rating-diamond-little{
  width: 13px;
  height: 13px;
}

.crypto-details {
  h3 {
    margin: 0;
    font-size: 20px;
    margin: 0 25px 0 0;
  }

  img {
    height: 30px;
    filter: opacity(70%);
    margin: 0 10px 0 0;
  }
}

.diamond-grayscale {
  filter: opacity(20%);

}
