.crypto-card {
  background-color: white;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px;

  a {
    margin: 0;
    display: block;
    width: 200px;
  }

  h5 {
    color: darkgray;
    margin: 0;
    font-size: 15px;
  }
  padding: 0;
}

.crypto-name {
  font-size: 25px;
  text-decoration: none;
  color: $dark;
  font-weight: bold;
}

.crypto-name:hover {
  font-size: 25px;
  text-decoration: none;
  color: $second;
  transition: 0.3s;
}


.crypto-details {
  h5 {
    margin: 0;
    font-size: 18px;
    color: $dark;
  }

  img {
    height: 22px;
    filter: opacity(30%);
    margin: 0 10px 0 25px;
  }

  h2 {
    font-size: 18px !important;
  }

}

.set-width-1c {
  width: 10px;
}

.set-width-2c {
  width: 20px;
}

.set-width-3c {
  width: 35px;
}

.set-width-4c {
  width: 60px;
}


.crypto-logo {
  width: 50px;
  height: 50px;
  align-items: center;
  margin-right: 25px;
}
.color-a{
  background-color: #c0cec5;
}
.color-b{
  background-color: #dedede;
}

.cryptos-filters {
  text-decoration: none;
  a {
    text-decoration: none;
    color: black;
    margin: 0.5%;
    padding: 0.5%;
    border-radius: 7px;
  }
}
.bg-eg{
  background-color: $eggplant;
}

.c-attributes{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 150px;
  text-align: center;
}
.c-head{
  width: 160px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.reset-crypto-form{
  background-color: cadetblue;
  text-decoration: none;
  color: white;
  align-self: left;
  padding-right: 16px;
  padding-left: 16px;
  transition: 0.6s padding-right ease;
}

.reset-container{
  width: 100%;
  text-align: left;
}

#noblue{
  color: rgba($color: #ffffff, $alpha: 0.5);
  transition: color 0.5s ease;
}
#noblue:hover{
  color:white !important;
  padding-right: 48px;
}
.coin-search{
  background-color: rgb(73, 56, 67);
  color: #dedede ;
  padding: 6px;
  transition: color 0.45s ease;
  border: 0px;
}
.coin-search:hover{
  color:#61988E;

}
.pagination{
  margin: auto;
}
.pagination > span > a {
  align-items: center;
  text-decoration: none;

}
