.navbar-lewagon {
  justify-content: space-between;
  background: #61988E;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.nav-lnk {
  text-decoration: none;
  font-weight: normal;
  margin-right: 8px;
  color: #b9d0cc;
  font-size: 20px;
  transition: color 0.3s ease;
}

#lnk{
  color: #b9d0cc !important ;
  transition: color 0.3s ease;
}
#lnk:hover{
  color: white !important ;
}
