.navbar-lewagon {
  justify-content: space-between;
  background: #486C77;
  border-bottom: 4px solid $main;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.nav-lnk {
  text-decoration: none;
  font-weight: normal;
  margin-right: 30px;
  color: $dark;
  font-size: 18px;
  transition: color 0.3s ease;
}

#lnk{
  color: #6596a5 !important ;
  transition: color 0.3s ease;
}
#lnk:hover{
  color: #cbf2fe !important ;
}
