.navbar-lewagon {
  justify-content: space-between;
  background: #61988E;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.nav-link {
  color: white;
  font-size: 20px;
}
