.post-main {
  background-color: white;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px;

  h4 {
    font-size: 24px;
    color: $dark;
    margin: 0 0 0 10px;
  }

  h5 {
    color: darkgray;
    margin: 0 0 0 10px;
    font-size: 20px;
  }

  h1 {
    font-size: 30px;
    color: $dark;
    font-weight: bold;
  }
}


#block-top-colored {
  background-color: $main;
  height: 8px;
  width: 100%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
