.squad-card-typing{
  height: 15vh;
  margin: 10px 10px 0px 0px;
  width: 20vw;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.squad-card{
  min-width: 200px;
}

.squad-description{
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}




.squad-card-typing:hover {
  opacity: 1;
}
